<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./app.css">
</head>
<body>
    

  <h1 style="font-weight: 700;" class="teamh1">About Us</h1>
  <hr id="hrtagAbout">
<section class="team" id="team">

<div class="member">
    <img src="./img/aman.png" alt="Developer 1" class="teamimg">
    <h3>Aman Maurya</h3>
    <p>MERN Stack Developer</p><br>
    
    <a href="https://imaman.netlify.app/" class="teama">Contact me</a>
</div>
<div class="member">
    <img src="./img/adi.jpg" alt="Developer 2" class="teamimg">
    <h3>Aditya Singh</h3>
    <p>Front-end Developer</p><br>
    <a href="#" class="teama">Contact me</a>
</div>
<div class="member">
    <img src="./img/ashu.jpg" alt="Developer 3" class="teamimg">
    <h3>Aashutosh Shukla</h3>
    <p>Front-end Developer</p><br>
    <a href="#" class="teama">Contact me</a>
</div>
<div class="member">
    <img src="./img/abhinav.jpg" alt="Developer 4" class="teamimg">
    <h3>Abhinav Sheoran</h3>
    <p>Front-end Developer</p><br>
    <a href="#" class="teama">Contact me</a>
</div>
</section>
    
</body>
</html>